*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style-type: none;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000;
}
.all-header{
    position: relative;
    margin: 0px auto;

}
.outer-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    width:600px ;
    padding: 20px ;
    position: fixed;
    background: black;
    z-index: 10;
    top: 0;
    left: 0px;
    width:100% ;

}
.logo{
    padding-left: 20px;
    margin-top: 15px;
    font-size: 19px;
    cursor: pointer;
    transition: transform .4s;
}
.logo:hover{
    transform: scale(1.05);
}
.outer-wrapper .header-menu ul li{
    /* margin-left: 60px; */
    padding-bottom: 5px;
    margin-top: 15px;
    display: none;
    padding-right: 20px;
}
.outer-wrapper .header-menu ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    transition: all .3s;
}
.header-menu .active{
    border-bottom: 3px solid #00ffff;
    color: #00ffff;
}
.outer-wrapper .header-menu ul li a:hover{
    border-bottom: 3px solid #00ffff;
    color: #00ffff;
}
/*--------section-1----------*/
.section-1{
    padding: 170px 0;
}
span{
    color: #00ffff;
}
.inner-wrapper{
    width: 410px;
    margin: 0 auto;
}
.main-content{
    margin-left: 20px;
}
.inner-wrapper .main-content h2 {
      font-size: 32px;
}
.inner-wrapper .main-content h1 {
    font-size: 40px;
}
.animation{
    display: flex;
    gap: 6px;
}
.dynamic{
    line-height: 40px;
    overflow: hidden;
    height: 40px;
}
.animation .dynamic ul li{
    font-size: 32px;
    font-weight: 700;
    position: relative;
    top: 0;
    animation: display 14s steps(4) infinite;
}
@keyframes display {
    100%{
        top: -160px;
    }
}
.animation .dynamic ul li::after{
    content: '';
    position: absolute;
    border-left: 2px solid #00ffff;
    background-color: #000;
    height: 100%;
    width: 100%;
    left: 0;
    animation: slide 3.5s steps(13) infinite;
}
@keyframes slide {
    40%,60%{
        left: calc( 100% + 0px);
    }
}

.main-content p{
   font-size: 14px;
   font-weight: 700;
   line-height: 18px;
   width: 380px;
}
.btns{
    width: 300px;
    padding: 10px;
    color: #000;
    background: #00ffff;
    border-radius: 20px;
    border: none;
    margin: 10px 0;
    font-weight: 700;
    box-shadow: 0 0 10px #00ffff;
    transition: box-shadow,transform .4s;
}
 .btns:hover{
    box-shadow: 0 0 15px #00ffff;
    transform: scale(1.03);
    cursor: pointer;
}
.icon-list{
    margin: 10px 0;
}
.icon-list i{
    font-size: 20px;
    border: 2px solid #00ffff;
    padding: 7px ;
    border-radius: 50%;
    color: #00ffff;
    margin-left: 10px;
    transition: .4s;
    cursor: pointer;
}
.icon-list i:hover{
    background-color: #00ffff;
    color: #000;
    transform: scale(1.03);
}
.main-img img{
    width: 350px;
    height: 350px;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 50%;
    filter: drop-shadow(0 0 15px aqua);
    cursor: pointer;
    transition: transform .4s;
}
.main-img img:hover{
    transform: scale(1.03);
}
/*--------- section-2 ----------*/
#about{
    padding: 0px 0;
}
.about-me{
    margin-left: 35px;
}
.about-me h1{
   font-size: 40px;
   margin: 5px 0;
}
.about-me h2{
    font-size: 30px;
 }
 .about-me p{
    font-size: 13px;
    color: #999999;
    font-weight: 700;
    margin: 5px 0;
    line-height: 17px;
 }
 .btn {
    width: 150px;
    padding: 10px;
    color: #000;
    background: #00ffff;
    border-radius: 15px;
    border: none;
    margin: 10px 0;
    font-weight: 700;
    box-shadow: 0 0 10px #00ffff;
    transition: all .4s;
}
.btn:hover{
    box-shadow: 0 0 15px #00ffff;
    transform: scale(1.03);
    cursor: pointer;

}
/* ------ Section-3 -------- */
.section-3{
    padding: 100px 0;
}
.service-list{
    background: #1a1a1a;
    padding: 30px;
    margin: 20px 0;
    text-align: center;
    border-radius: 10px;
}
.service-list i{
    font-size: 40px;
    color: #00ffff;
}
.service-list h1{
    font-size: 30px;
    margin: 10px 0;
}
.service-list p{
    text-align: left;
    font-size: 14px;
    color: #999999;
    font-weight: 600;
    margin: 10px 0;
}
/* -----section -4 -------- */
.section-4{
    padding: 100px 0;
}

.section-4 img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    margin-top: 20px;
}
.project-img{
    width: 350px;
    margin: 0 auto;
}
.imgs{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.hover{
    position: absolute;
    bottom: -70px;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0.5),#00ffff);
    height: 0%;
    width: 100%;
    text-align: center;
    padding-top: 75px;
    border-radius: 10px;
    transition: height .5s;
}
.hover h3{
    font-size: 30px;
    font-weight: 600;
}
.hover p{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}
.hover i{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.imgs:hover .hover{
   height: 120%;
}
.section-4 img:hover{
    transform: scale(1.04);
}
/* ---------contact------- */
.section-5{
    padding: 60px 0;
}
.contact-list{
    width: 380px;
    margin: 0 auto;
}
.first-contact input,.second-contact input,textarea{
    width: 380px;
    padding: 15px 10px;
    margin: 4px 0;
    background: #1a1a1a;
    border: none;
    border-radius: 10px;
}
.first-contact input:focus,
.second-contact input:focus,
textarea{
    outline: none;
}
.text-area{
    width: 380px;
    margin: 15px auto;
}
.section-5 button{
    margin-left: 45px;
}
/* --------footer-------- */
footer{
    background: #1a1a1a;
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
}
footer h3{
    font-size: 14px;
    font-weight: 600;
    color: #f0f0f0f0;
    margin: 5px 0;
}
footer i{
    border: 2px solid #00ffff;
    border-radius: 50%;
    padding: 4px;
    color: #00ffff;
    margin-left: 5px;
    cursor: pointer;
    transition: transform .4s;
}
footer i:hover{
    color: #000;
    transform: scale(1.02);
    background: #00ffff;
}
.under-line h1{
    font-size: 40px;
    text-align: center;
    margin: 30px 0;
    position: relative;
}
/*------- Media-query ------*/
@media (min-width:768px) {
    .outer-wrapper .header-menu ul li{
        display: inline-block;
        margin-right: 10px;
    }
    .inner-wrapper{
        width: 740px;
        margin: 0 auto;
    }
    .inner-content{
        display: flex;
        justify-content: space-between;
        
    }
    .service-list{
        margin-left: 10px;
    }
    .main-content,.about-me{
        margin-top: 60px;
    }
   
    .section-2 .inner-content{
        flex-direction: row-reverse;
        gap: 20px;
    }
    .contact-list,.text-area {
        width: 700px;
        margin: 0 auto;
    }
    .contact-list input,textarea{
        width: 700px;
    }
    .text-area button{
        width: 300px;
        margin-left: 180px;
    }
    .section-4 .inner-content-1{
        width: 380px;
    }
    .project-img{
        display: grid;
        grid-template-columns: repeat(2,350px);
        gap: 20px;
        justify-content: space-between;
    }
}
@media (min-width:1024px) {
    .outer-wrapper .header-menu ul li{
        margin-right: 50px;
    }
    .logo{
        margin: 0 30px;
    }
    .main-content p{
        width: 420px;
     }
    .inner-wrapper{
        width: 1024px;
        margin: 0 auto;
    }
    .main-img img{
        width: 400px;
        height: 400px;
        margin-top: -10px;
        
    }
    .main-content{
      margin-top: 30px ;
    }
    .inner-wrapper .main-content h2 {
        font-size: 35px;
  }
  .inner-wrapper .main-content h1 {
      font-size: 43px;
  }
  .section-2 .inner-content{
    gap: 80px;
   
  }
  .about-me{
    margin-top: -10px;
  }
  
  #about{
    padding: 160px 0;
}
.about-img{
    margin-left: -30px;
}
.service-list{
    margin-left: 20px;
    padding: 30px ;
}
.project-img{
    display: grid;
    grid-template-columns: repeat(3,350px);
    justify-content: space-between;
}
}